<div class="edit-pageContainer">
      <div class="edit-title">Service content</div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">service ID</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">service name</div>
        <input type="text" class="form-control" />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">connection phrase</div>
        <input type="text" class="form-control" />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">description</div>
        <input type="text" class="form-control" />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">update count</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">created at</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">created by</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">updated at</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-inputContainer">
        <div class="edit-inputName">updated by</div>
        <input type="text" class="form-control" readOnly />
      </div>
      <div class="edit-footer">
        <button class="btn btn-danger">Delete</button>
        <div></div>
        <button class="btn btn-primary edit-update">Update</button>
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>