<li>
    <%= gravatar_for facility_manager, size: 50 %>
    <%= link_to facility_manager.name, facility_manager %>
    <% if !current_facility_manager?(facility_manager) %>
        <%= link_to "delete", facility_manager, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
</li> 