<div class="facilities-pageContainer">
  <div class="facilities-logo">Fridge Scope</div>
  <button class="signOut btn btn-light">Sign Out</button>
  <div class="facilities-title">List of facility managers</div>
  <div class="facilities-index-serviceContainer">
    <div class="facilities-index-serviceArrow">❮</div>
    <div class="facilities-index-serviceNameLabel">Selected Facility name</div>
    <div>Shizuoka-city Central Community Center</div>
  </div>
  <div class="facilities-index-managersContainer">
    <div class="facilities-index-managersTable">
      <div class="facilities-index-managerRow">
        <div class="facilities-index-managerNameHead">Facility Manager Name</div>
        <div class="facilities-index-managerIDHead">ID</div>
      </div>
      <div class="facilities-index-managerRow">
        <div class="facilities-index-managerName">Kohei Otani</div>
        <div class="facilities-index-managerID">ABCd#.0012</div>
        <button class="btn btn-light">Edit</button>
      </div>
    </div>
    <div class="facilities-index-servicesFooter">
      <button type="button" class="btn btn-primary">
        Add New Facility Manager
      </button>
      <button type="button" class="btn btn-secondary">
        &lt;&lt;Prev
      </button>
      <button type="button" class="btn btn-secondary">
        &gt;&gt;Next
      </button>
    </div>
  </div>
</div>