<% provide(:title, @facility_manager.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @facility_manager %>
                <%= @facility_manager.name %>
            </h1>
        </section>
    </aside>
</div>