.facilities-pageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(114, 209, 177);

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}
.facilities-logo {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.facilities-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.facilities-signOut {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
.facilities-index-serviceContainer {
  width: 100%;
  padding: 0 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.facilities-index-serviceArrow {
  font-size: 2rem;
  font-weight: bold;
}
.facilities-index-serviceNameLabel {
  color: rgb(114, 209, 177);
}

.facilities-index-managersContainer {
  color: white;
  background-color: rgb(196, 196, 196);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.facilities-index-managersTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.facilities-index-managerRow {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.facilities-index-managerRow button {
  color: rgb(114, 209, 177);
  flex-grow: 2;
}
.facilities-index-managerNameHead {
  width: 50%;
  text-align: center;
}
.facilities-index-managerIDHead {
  width: 30%;
  text-align: center;
}
.facilities-index-managerName {
  width: 50%;
  background: white;
  color: black;
  padding: 0.5rem;
}
.facilities-index-managerID {
  width: 30%;
  background: white;
  color: black;
  padding: 0.5rem;
  text-align: center;
}
.facilities-index-servicesFooter {
  display: flex;
  gap: 1rem;
}
.facilities-edit-pageContainer {
  width: 100vw;
  color: rgb(114, 209, 177);
  background-color: white;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.facilities-edit-title {
  font-size: 2rem;
  font-weight: bold;
}
.facilities-edit-contentContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.facilities-edit-inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.facilities-edit-map {
  flex-shrink: 0;
  background-color: aquamarine;
  width: 20rem;
  height: 20rem;
}
.facilities-edit-inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.facilities-edit-inputName {
  flex-basis: 30rem;
  text-align: right;
}
.facilities-edit-footer {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.facilities-edit-footer button,
.facilities-edit-footer a {
  height: min-content;
  width: 10rem;
  flex-shrink: 0;
}
.facilities-edit-footer div {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .facilities-edit-contentContainer {
    flex-direction: column;
  }
  .facilities-edit-footer {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
  .facilities-edit-footer button {
    width: 100%;
  }
  .facilities-edit-update {
    order: 1;
  }
}
